<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <h2>Lista de anuncios</h2>
      <ul>
        <% anuncios.forEach(anuncio => { %>
          <li>
            <h2><%= anuncio.nombre %></h2>
            <p>Descripción: <%= anuncio.descripcion %></p>
            <p>Venta: <%= anuncio.venta %></p>
            <p>Precio: <%= anuncio.precio %> €</p>
            <img src="<%= anuncio.foto %>"/>
            <p>Tags: <% anuncio.tags.forEach(tag => { %>
              <%= tag %>
            <% }) %></p>
          </li>
        <% }) %>
      </ul>
  </body>
</html>
